extends layout

block content
  h1= title
  
  form(method='POST' action='/queueentries/enqueue')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Your cool name' name='name' value='')
      label(for='mobilenumber') Mobile #:
      input#mobilenumber.form-control(type='text', placeholder='Mobile number' name='mobilenumber' value='')
    button.btn.btn-primary(type='submit') Register

  if errors 
    ul
      for error in errors
        li!= error.msg