doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    block scripts
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    div(class='container-fluid')
      block header
        div(class='row')
          div(class='col-sm-12')
            img(src='images/leapfroggr.png')
      div(class='row')          
        div(class='col-sm-12')
          block content