extends layout

block scripts
  script(src='/javascripts/poller.js')
  script.
    doPoll()

block content
  h1= title
  p Welcome to #{title}, #{username}
  if userQueueNumber
    h2 Your number: 
      span(class=queueEntries[0].number===userQueueNumber?'userNowServing':'nowServing') #{userQueueNumber}


  table.table.table-striped
    thead
      tr
        th
        th Queue Number
        th Customer Name
    tbody
      each val in queueEntries
        tr
          td
            if val===queueEntries[0]
              p(class=val.number==userQueueNumber?'userNowServing':'nowServing') NOW SERVING &#8594;
            else if val.number==userQueueNumber
              p(class='userNumber') Your number &#8594;
          td
            if val===queueEntries[0]
              p(class=val.number==userQueueNumber?'userNowServing':'nowServing')=val.number
            else
              p(class=val.number==userQueueNumber?'userNumber':'')=val.number
          td
            if val===queueEntries[0]
              p(class=val.number==userQueueNumber?'userNowServing':'nowServing')=val.name
            else
              p(class=val.number==userQueueNumber?'userNumber':'')=val.name

    form(method='POST' action='/queueentries/dequeue')
      input#name.form-control.hidden(type='text', name='name' value=username)
      button.btn.btn-danger(type='submit') Leave Queue