extends layout

block scripts
  script(src='/javascripts/poller.js')
  script.
    doPoll()

block content
  h1= title

  table.table.table-striped
    thead
      tr
        th
        th Queue Number
        th Customer Name
    tbody
      each val in queueEntries
        tr
          td
            if val.number==nowServing
              p.nowServing NOW SERVING &#8594;
          td
            p(class=val.number==nowServing?'nowServing':'')=val.number
          td
            p(class=val.number==nowServing?'nowServing':'')=val.name

  form(method='POST' action='/queueentries/serve')
    div.form-group
    button.btn.btn-success(type='submit',disabled=nowServing==='None') Serve next customer

  if errors 
    ul
      for error in errors
        li!= error.msg