body {
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-primary{
  border-radius: 2%;
  background-color: rgb(44, 165, 147);
  border-color:rgb(30, 111, 99);
}

.btn-primary:hover{
  border-radius: 2%;
   background-color: rgb(32, 118, 105);
  border-color:rgb(30, 111, 99);
}

.btn-danger{
   border-radius: 2%;
}

.btn-success{
   border-radius: 2%;
   background-color: rgb(37, 157, 26);
  border-color:rgb(28, 115, 21);
}

.btn-success:hover{
   border-radius: 2%;
   background-color: rgb(31, 125, 23);
  border-color:rgb(28, 115, 21);
}

.nowServing{
      font-weight:bold;
      font-size:28px;
}

.userNowServing{
  font-weight:bold;
  font-size:28px;
  color:red;
}

.userNumber{
  font-weight:bold;
  color:red;
}